// obtener un icono de nuestro mapa de iconos, desde svg || CON ERROR HANDLING
// autora: Tracy Rotton
@function getIcon($icon, $color: #fff) {
  @if "color" != type-of($color) {
    @warn 'El color - "' + $color + '" solicitado no fue reconocido como un valor Sass.';
    @return null;
  }

  @if map-has-key($icons, $icon) {
    $icon: map-get($icons, $icon);
    $placeholder: "%%COLOR%%";
    $data-uri: str-replace(url($data-svg-prefix + $icon), $placeholder, $color);

    @return str-replace($data-uri, "#", "%23");
  }

  @warn 'El ícono - "' + $icon + '" no está definido en el mapa $icons .';
  @return null;
}
