$colors: (
  heading: #8c65ab,
  p: #0d0d14,
  border: #ff0000,
  primary: #6585ab,
  secondary: #cca36d,
  body: #ffffff,
  error: #ff0000,
  success: #0000ff,
  warning: #ffff00,
  valid: #00ff00,
  disabled: #bbbbbb,
);
